<header class="header">
  <div class="header-inner">

  <a routerLink="/home" class="logo" (click)="closeMenu()">
      <span class="logo-icon">🎫</span>
      <span class="logo-text"> Employee Helpdesk Ticket Management System </span>
    </a>

    <nav class="desktop-nav">
      <a routerLink="/home"
   routerLinkActive="active"
   [routerLinkActiveOptions]="{exact:true}"
   class="nav-link">
   Home
</a>

      <a routerLink="/dashboard"
         routerLinkActive="active"
         class="nav-link">
         Dashboard
      </a>

      <a routerLink="/tickets"
         routerLinkActive="active"
         class="nav-link">
         Tickets
      </a>

      <a routerLink="/users"
   routerLinkActive="active"
   class="nav-link">
   Users
</a>

      <a routerLink="/departments"
         routerLinkActive="active"
         class="nav-link">
         Departments
      </a>
    </nav>

    <div class="header-actions">

      <button
        type="button"
        class="logout-btn"
        (click)="logout()">
        Logout
      </button>

      <button
        class="hamburger"
        (click)="toggleMenu()"
        [class.open]="menuOpen">
        <span></span>
        <span></span>
        <span></span>
      </button>

    </div>

  </div>

  <nav class="mobile-nav" [class.open]="menuOpen">

    <a routerLink="/"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}"
       class="mobile-link"
       (click)="closeMenu()">
       Home
    </a>

    <a routerLink="/dashboard"
       routerLinkActive="active"
       class="mobile-link"
       (click)="closeMenu()">
       Dashboard
    </a>

    <a routerLink="/profile"
       routerLinkActive="active"
       class="mobile-link"
       (click)="closeMenu()">
       Profile
    </a>

    <a routerLink="/contact"
       routerLinkActive="active"
       class="mobile-link"
       (click)="closeMenu()">
       Contact
    </a>

    <a routerLink="/tickets"
       routerLinkActive="active"
       class="mobile-link"
       (click)="closeMenu()">
       Tickets
    </a>

    <a routerLink="/users"
   routerLinkActive="active"
   class="mobile-link"
   (click)="closeMenu()">
   Users
</a>

    <a routerLink="/departments"
       routerLinkActive="active"
       class="mobile-link"
       (click)="closeMenu()">
       Departments
    </a>

    <button
      type="button"
      class="mobile-logout-btn"
      (click)="logout()">
      Logout
    </button>

  </nav>
</header>